%br
%br
.application
  = form_for :job_application do |f|

    = f.label :name
    = f.text_field :name
    %br
    %br
    = f.label :last_name
    = f.text_field :last_name
    %br
    %br
    = f.label :email
    = f.email_field :email
    %br
    %br
    = f.label :phone
    = f.phone_field :phone
    %br
    %br
    = f.label :address_1
    = f.text_field :address_1
    %br
    %br
    = f.label :address_2
    = f.text_field :address_2
    %br
    %br
    = f.label :city
    = f.text_field :city
    %br
    %br
    = f.label :state
    = f.text_field :state
    %br
    %br
    = f.label :zip
    = f.text_field :zip
    %br
    %br
    = f.submit