
.navbar.footer
  %ul.nav
    %li
      = link_to 'ABOUT', about_path
    %li
      = link_to '|'
    %li
      = link_to 'REWARDS', rewards_path
    %li
      = link_to '|'
    %li
      = link_to 'GIFTCARD BALANCE'
    %li
      = link_to '|'
    %li
      = link_to 'CONTACT', contact_path
    %li
      = link_to '|'
    %li
      = link_to 'CITY CENTER'
    %li
      = link_to '|'
    %li
      = link_to 'COPYRIGHT   2014 HITCENTS PARK PLAZA'