.span2
  .navbar.navbar-fixed
    .navbar-inner
      .container-fluid
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand
          = link_to image_tag("hpp-logo-home.png"), '/'
        %br
        %br
        The most UNIQUE business,
        %br
        dining & entertainment
        %br
        possibilities around.
        %br
        %br
        Combined into one building in downtown Bowling Green.
        .container.nav-collapse
          %ul.sidebar-nav
            %hr
            %li= link_to "WORK.", work_path
            %hr
            %li= link_to "EAT.", eat_path
            %hr
            %li= link_to "PLAY.", play_path
            %hr
            %li= link_to "GIFT CARDS.", gift_cards_path
            %hr
            %li= link_to "BANQUET.", banquet_path
            %hr
            %li= link_to "ORDER TO GO", "/path3"
            %hr
    .sign-up
      .email-submission-form-msg
      = form_for(@email_submission, remote: true) do |f|
        .form-group
          Get news & event updates.
          = f.email_field :email, { placeholder: "YOUR EMAIL ADDRESS", class: "col-xs-10" }
          = image_submit_tag('submit-arrow.png')
        %hr
        .social
          = image_tag('twitter.png')
          = image_tag('facebook.png')
          = image_tag('video.png')