
.navbar.navbar-top-fixed
  .navbar-inner
    %a.brand
      January 2014
      .arrows
        = link_to image_tag('left-arrow.png')
        = link_to image_tag('right-arrow.png')
    %ul.top-nav
      %li= link_to image_tag('gridIcon.png'), '/'
      %li= link_to image_tag('listIcon.png'), '/'
