.container
  .row-fluid
    %h1.logo Hitcents Park Plaza

  .row-fluid.work-eat-play
    %h2 Work. Eat. Play.
    %p.lead
      The most UNIQUE business, dining, &amp; entertainment possibilities around.
      %br
      Combined into one building in downtown Bowling Green.

  .row-fluid
    %p.sign-up-for-latest Sign up for the latest news about grand openings &amp; more

  .row-fluid.sign-up
    .email-submission-form-msg
    = form_for(@email_submission, remote: true) do |f|
      .form-group
        = f.email_field :email, { placeholder: "Enter your email address", class: "col-xs-10" }
        = f.submit "JOIN >"
