.row-fluid.buckets
  %div.span4.work.bucket
    .block#1
    = link_to "WORK.", work_path

  %div.span4.eat.bucket
    .block#2
    = link_to "EAT.", eat_path

  %div.span4.play.bucket
    .block#3
    = link_to "PLAY.", play_path
