

- unless @special_events.nil?
  - @special_events.each do |event|
    .span2
      = link_to image_tag(event.image.url), special_event_path(event)
    .span2
      = link_to image_tag(event.image.url), special_event_path(event)
    .span2
      = link_to image_tag(event.image.url), special_event_path(event)