@import "base_vars.css.less";

html {

  body {

    color: @gray;
    font-family: @nav_text;


    //** LEFT NAV STYLES **//

    .navbar.navbar-fixed {
      margin-bottom: 0px;
      position: relative;

      -webkit-box-shadow: 4px 1px 18px 0px rgba(50, 54, 50, 0.4);
      -moz-box-shadow:    4px 1px 18px 0px rgba(50, 54, 50, 0.4);
      box-shadow:         4px 1px 18px 0px rgba(50, 54, 50, 0.4);
    }

    .navbar-inner {
      text-align: center;
      padding-top: 25px;
      background: none !important;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;

    }

    .sidebar-nav {
      list-style: none;
      margin: 50px 33px;
      padding: 0px;
      font-family: @home_font;
      font-size: 20px;


    }

    .sidebar-nav li {
      line-height: 40px;

      margin: -20px;

    }

    .sidebar-nav li:hover, .selected {
      background: @gray;
      a {color: white !important;}

    }

    .sidebar-nav li a{
      color: @gray;
      text-decoration: none;
    }

    .brand {
      padding: 0px !important;
    }

    .sign-up {
      text-align: center;
      position: absolute;
      margin-bottom: 10%;
      bottom:0;
    }

    .sign-up form input[type=email]{
      width: 68%;
      height: 6px;
      border: 1px solid black;
      border-radius: 1px;
      margin-top: 15px;
    }

    .sign-up form input[type=image]{
      margin-top: -65px;
      margin-left: 185px;
    }

    .form-group {
      height: 60px;
    }

    .social {
      bottom: 0;
    }

    //** TOP NAV STYLES **//

    .navbar.navbar-top-fixed {
      margin-bottom: 0px;
      height: 60px;
    }

    .arrows a{
      float:left;
      margin-left: 20px;
    }

    .navbar.navbar-top-fixed .navbar-inner ul {
      float:right;
    }

    .navbar.navbar-top-fixed .navbar-inner ul li {
      float: left;
      list-style: none;
      margin-left: 15px;
    }

    .navbar.navbar-top-fixed .navbar-inner .brand{
      font-size: 24px;
      color: @gray;
      margin-left: 10px;
    }


    //** FOOTER STYLES **//

    .navbar.footer .nav {
      margin: -45px 0px 0 450px;
    }

    .footer {
      margin-top: -45px;
    }

    .footer ul.nav li a {
      padding:10px;
      color: white;
      font-family: @home_font;
      text-shadow: none;
    }
  }
}