@font-face {
    font-family: 'latolight_italic';
    src: url(font-path('lato-lightitalic-webfont.eot'));
    src: url(font-path('lato-lightitalic-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('lato-lightitalic-webfont.woff')) format('woff'),
         url(font-path('lato-lightitalic-webfont.ttf')) format('truetype'),
         url(font-path('lato-lightitalic-webfont.svg') + '#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url(font-path('lato-light-webfont.eot'));
    src: url(font-path('lato-light-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('lato-light-webfont.woff')) format('woff'),
         url(font-path('lato-light-webfont.ttf')) format('truetype'),
         url(font-path('lato-light-webfont.svg') + '#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FVAlmeloRegular';
    src: url(font-path('fv_almelo-webfont.eot'));
    src: url(font-path('fv_almelo-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('fv_almelo-webfont.woff')) format('woff'),
         url(font-path('fv_almelo-webfont.ttf')) format('truetype'),
         url(font-path('fv_almelo-webfont.svg') + '#FVAlmeloRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro It';
    src: url(font-path('sourcesanspro-it-webfont.eot'));
    src: url(font-path('sourcesanspro-it-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font-path('sourcesanspro-it-webfont.woff')) format('woff'),
         url(font-path('sourcesanspro-it-webfont.ttf')) format('truetype'),
         url(font-path('sourcesanspro-it-webfont.svg') + '#sourcesanspro-it-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
