// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "base_vars.css.less";

// HOME PAGE STYLES

.home {
  .buckets {
    margin-left: initial;
  }

  .bucket {
    width: 33.3% !important;
    margin-left: 0px !important;

    opacity: .8;
  }

  .block {
    width: 28.5%;
    background-color: black;
    opacity: .4;
    overflow: overlay;
    position: absolute;
    display: block;
  }

  .bucket a, .bucket a:hover  {
    font-family: @home_font;
    font-size: 48px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
    padding: 15px 35px;
    position: relative;
    top: 50%;
    left: 33%;
  }

  .bucket > a:hover {
    border: 3px solid white;
    padding: 15px 35px !important;

    webkit-transition: opacity .115s ease-out, background .115s ease-out, border-radius .115s ease-out, clip .35s ease-out, color .115s ease-out, border .115s ease-out;
    -moz-transition: opacity .115s ease-out, background .115s ease-out, border-radius .115s ease-out, clip .35s ease-out, color .115s ease-out, border .115s ease-out;
    -o-transition: opacity .115s ease-out, background .115s ease-out, border-radius .115s ease-out, clip .35s ease-out, color .115s ease-out, border .115s ease-out;
    transition: opacity .115s ease-out, background .115s ease-out, border-radius .115s ease-out, clip .35s ease-out, color .115s ease-out, border .115s ease-out;
    -webkit-font-smoothing: antialiased;
  }

  .work {
    background: image-url('work.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .eat {
    background: image-url('eat.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .play {
    background: image-url('play.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// SPECIAL EVENT PAGE STYLES

.special_events.index {
  .span10 .span2 {
    width: 20%;
    margin-left: 0%
  }

  .span10 .span2 img {
    width:100%;
    border: 2px solid white;
  }
}